/** contiene un input de tipo search,
 * lo hacemos flotar a la derecha, solamente en pc */

@media (min-width: 640px) {
  div.search-container {
    float: right;
  }
}


/** pero si estamos en celulares, que no flote y el margen es para
que quede bien posicionado y no se corten los bordes del input */

@media not all and (min-width: 640px) {
  div.search-container {
    margin-top: 5px;
    margin-left: 3px;
  }
}


/** contenedor de label-text-container */

@media (min-width: 640px) {
  div.label-text-container {
    display: flex;
    justify-content: center;
  }
}


/** centrar el encabezado */

h3.label-text-header {
  text-align: center;
}


/** labels donde esta la informacion adicional, los ponemos
 * en linea para que esten uno al lado del otro y no uno debajo
 * del otro
 */

div.label-text {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}


/** este footer se va a posicionar siempre al final
 * el width en 99% es porque sino queda mas ancho que el head
 con los mediaquery logramos que se posicione bien tanto en pantallas moviles (acostado y parado) y pc */

@media (min-width: 640px) and (min-height: 390px) {
  footer.index-bottom-page-footer {
    position: absolute;
    bottom: 0;
    width: 99%;
  }
}