/** contiene un input de tipo search,
 * lo hacemos flotar a la derecha */

div.search-container {
    float: right;
}


/** contenedor de label-text-container */

div.label-text-container {
    display: flex;
    justify-content: center;
}


/** centrar el encabezado */

h3.label-text-header {
    text-align: center;
}


/** labels donde esta la informacion adicional, los ponemos
 * en linea para que esten uno al lado del otro y no uno debajo
 * del otro
 * el margen sirve para que quede mejor presentado
 */

div.label-text {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}


