div.login-menu {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -130px;
  text-align:center;
}

div.login-accept-button {
  display: flex;
  justify-content: center;
}

div.login-menu-title {
		font-size:23px;
}