/** este footer se va a posicionar siempre al final
 * el width en 99% es porque sino queda mas ancho que el head */

footer.bottom-page-footer {
  position: absolute;
  bottom: 0;
}


/** estilo del footer para PC */

@media (min-width: 640px) {
  footer.bottom-page-footer {
    font-size: 14px;
    width: 99%;
  }
}


/** estilo del footer parac celulares */

@media not all and (min-width: 640px) {
  footer.bottom-page-footer {
    font-size: 11px;
    width: 97%;
  }
}


/** parrafo ubicado a la izquierda en el pie de pagina */

p.left-footer-paragraph {
  float: left;
  margin: 0.3%;
}


/** parrafo ubicado a la derecha en el pie de pagina */

p.right-footer-paragraph {
  float: right;
  margin: 0.3%;
}


/* nuevos estilos */

body {
  color: black; /*color del texto*/
  background-color: #72BFB0;
  font-family: "Calibri";
       }


a.link1:hover { 
	text-decoration: none; /*esto quita el subrayado*/ 
	color: #ffffff; /*se sobreentiende*/ 
	afont-weight: bold; 
} 

hr.separatingStripe{
   height: 1px;
   border: 0;
   background-color: #000000;
   margin-top: 13px;
}