/** este footer se va a posicionar siempre al final
 * el width en 99% es porque sino queda mas ancho que el head
 con los mediaquery logramos que se posicione bien tanto en pantallas moviles (acostado y parado) y pc */

@media (min-width: 640px) {
  footer.index-bottom-page-footer{
    font-size: 14px;
  }
}

@media not all and (min-width: 640px) {
  footer.index-bottom-page-footer{
   font-size: 11px;
  }
}



footer.bottom-page-footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  clear: both;
}


/** parrafo ubicado a la izquierda en el pie de pagina */
p.left-footer-paragraph {
  float: left;
  margin: 0.3%;
  font-size: 11px;
}


/** parrafo ubicado a la derecha en el pie de pagina */

p.right-footer-paragraph {
  float: right;
  margin: 0.3%;
  font-size: 11px;
}