.vertical-menu {
    width: 200px;
}

.vertical-menu input {
    background-color: #eee;
    color: black;
    padding: 12px;
    text-decoration: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width:100%;
}
.vertical-menu li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}
.vertical-menu input:hover {
    background-color: #ccc;
}

.vertical-menu input.active {
    background-color: #5F9EA0;
    color: white; 
    width:100%;
}
