{% extends 'plantilla_base.html' %}

{% block head%}  <link rel="stylesheet" type="text/css" href="../css/administracion.css"> {% endblock %}

{% block dropdown %}
  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Administraci&oacute;n <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="./?action=users_index">Usuarios</a> </li>
          <li><a href="#Roles">Roles</a> </li>
          <li><a href="#Permisos">Permisos</a> </li>
        </ul>
  </li> 
  <li><a href="./?action=pacients_index">Pacientes</a></li> 
{% endblock %}
