{% extends 'plantilla_base.html' %}

{% block head%}  <link rel="stylesheet" type="text/css" href="../css/administracion.css"> {% endblock %}
{% block title%}  Hospital Dr. Ricardo Gutierrez - Administración {% endblock %}

{% block nav %}
  <a href="#Paciente"  class="link1"> Paciente</a>
  <div class="dropdown"> 
    <button class="dropbtn">Administracion&darr;</button>
      <div class= " dropdown-content" >
          <a href="#">Usuarios</a> 
          <a href="#Roles">Roles</a> 
          <a href="#Permisos">Permisos</a> 
      </div>
  </div>
  {% endblock %}
