{% extends 'plantilla_base.html' %}

{% block head%} <link rel="stylesheet" type="text/css" href="../css/login.css"> {% endblock %}

{% block body%}

  <div class="login-menu">
      <div class="login-menu-title">
        <span class="text1"> Iniciar sesión </span>
     </div>

      <form action="./?action=admin" method="post">
        <br>
          <div>Usuario </div>
          <input type="text" required name="usuario" id="usuario" title="usuario" placeholder="Usuario">
          <div>Contraseña </div>
          <input type="password" required name="contra" id="contra" title="contra" placeholder="Contraseña">
          <br> <br>
          <div class="login-accept-button">
            <button type= "submit" id='btnSubmit'> Aceptar </button>
          </div>
      </form>
  </div>
{% endblock %}