{% extends 'plantilla_base.html' %}
{% block title%} Pacientes {% endblock %}
{% block body%}


<div id="modificacion-paciente" align="center">
  <h1> Actualizar Paciente </h1>
   <form action="./?action=pacient_updated" class="form-horizontal" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                        <fieldset>
                            
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                   Nombre:
                                      <input id="first_name" name="first_name" type="text" value="{{ pacient.first_name }} "  class="form-control" required>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                   Apellido:
                                    <input id="last_name" name="last_name" type="text" value="{{ pacient.last_name }} " class="form-control" required>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                   Fecha de Nacimiento:
                                    <input id="fecha_de_nacimiento" name="birth_date" type="date" value=" {{ pacient.birth_date }}" class="form-control" required>
                                </div>
                            </div>
                    
                            <br>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                  Sexo:
                                     <select name="gender" value="gender" required>
                                          <option value="F">Femenino</option>
                                          <option value="M">Masculino</option>
                                    </select> 
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                    Tipo de Documento:
                                      <select name="doc_type" value="doc_type" required >
                                          <option value="Libreta electoral o DNI">L.E/DNI</option>
                                          <option value="Carnet de extranjeria">CARNET EXT.</option>
                                          <option value="Reg. unico de contribuyentes">RUC</option>
                                          <option value="Pasaporte">PASAPORTE</option>
                                    </select> 
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                 Numero de Documento:
                                   <input id="documento" name="dni" type="text" value=" {{ pacient.dni }}" class="form-control" required>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                 Domicilio:
                                   <input id="domicilio" name="address" type="text" value="{{ pacient.address}} " class="form-control" required>
                                </div>
                            </div>
                            <br>
                             <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                 Tel/Cel:
                                   <input id="telefono" name="phone" type="text" value="{{ pacient.phone }}" class="form-control" required>
                                </div>
                            </div>
                            <br>
                             <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                    Obra Social:
                                      <select name="id_medical_insurance" value="id_medical_insurance">
                                          <option value="">-</option>
                                          <option value="Ioma">IOMA</option>
                                          <option value="Osecac">OSECAC</option>
                                          <option value="Osde">OSDE</option>
                                          <option value="Medicus">Medicus</option>
                                    </select> 
                                </div>
                            </div>
                            <br>

                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                  <button type="submit" id='btnSubmit'>Actualizar paciente</button>

                                </div>
                            </div>
                        </fieldset>
                      
                      
                    </form>
 </div>
 </td>

{% endblock %}


