{% extends 'plantilla_base.html' %}
{% block head%} <link rel="stylesheet" type="text/css" href="../css/users_index.css"> {% endblock %}


{% block body%}

<h1 align="center">Listado de Pacientes</h1>
<table align="center">
  <tr>
    <td>
       <form action="./?action=paciente_new" method="post">
          <button type= "submit" id='btnSubmit'> Agregar paciente + </button>
      </form>

    </td>
  </tr>
</table>
<br>
<div class="datagrid">
<table class='list'>
   <thead>
<tr  class="alt">

  <td><strong>Nombre</strong></td>
  <td><strong>Apellido</strong></td>
  <td><strong>Fecha de Nacimiento</strong></td>
  <td><strong>Genero</strong></td>
  <td><strong>Tipo Doc. </strong></td>
  <td><strong>DNI</strong></td>
  <td><strong>Dirección</strong></td>
  <td><strong>Telefono</strong></td>

</tr>

</thead>
<tfoot>
  <tr>
    <td colspan="8">
      <br>
      <div id="paging">
        <ul>
          <li>
            <a href="#">
              <span>Anterior</span>
            </a>
          </li>
          <li>
            <a href="#" class="active">
              <span>1</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>2</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>3</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Siguiente</span>
            </a>
          </li>
        </ul>
      </div>
    </tr>
  </tfoot>
        {% for item in pacients%}
            <tr> 
            <td>{{ item.first_name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.birth_date }}</td>
            <td>{{ item.gender }}</td>
            <td>{{ item.doc_type }}</td>
            <td>{{ item.dni }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.phone }}</td>
            <td>  
              <form action="./?action=paciente_form_update" method="post">
               <input type="submit" action=class="btn btn-success" name=id value="{{ item.id }}" id="boton_eliminar" placeholder="Modificar"> 
              </form>
            </td>
            <td>  
              <form action="./?action=pacient_destroy" method="post">
              <input type="submit" class="btn btn-success" value="Eliminar" id="boton_borrar"/>
              </form>
               </td>
            </tr>

        {% endfor %}

</table>



{% endblock %}