{% extends 'plantilla_base.html' %}
{% block body%}


<h1 align="center">Listado de Usuarios</h1>
<table align="center">
  <tr>
    <td>
      <form action="#" id="searchform">
          <input type="text" placeholder="Buscar aqu&iacute;..." name="busqueda" id="busqueda" title="busqueda">
          <button type= "submit" id='btnSubmit'> Buscar </button>
      </form>
    </td>
    <td>
       <form action="./?action=user_new" method="post">
          <button type= "submit" id='btnSubmit'> Crear usuario + </button>
      </form>

    </td>
  </tr>
</table>
<br>
<div class="datagrid">
<table class='list'>
      <thead>
<tr  class="alt">
  <td><strong>Nombre</strong></td>
  <td><strong>Apellido</strong></td>
  <td><strong>Usuario</strong></td>
  <td><strong>Email</strong></td>
  <td><strong>Estado</strong></td>
</tr>
</thead>
<tfoot>
  <tr>
    <td colspan="8">
      <br>
      <div id="paging">
        <ul>
          <li>
            <a href="#">
              <span>Anterior</span>
            </a>
          </li>
          <li>
            <a href="#" class="active">
              <span>1</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>2</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>3</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Siguiente</span>
            </a>
          </li>
        </ul>
      </div>
    </tr>
  </tfoot>
  {% for item in users %}
  <tr>
    <td>{{ item.first_name }}</td>
    <td>{{ item.last_name }}</td>
    <td>{{ item.username }}</td>
    <td>{{ item.email }}</td>
    {% if item.active == 1 %}
      <td> Activo </td>
    {% elseif item.active == 0%}
      <td> Bloqueado </td>
    {% endif %}
    <td> 
      <form action="./?action=user_update">
        <input type="submit" id='btnSubmit' value="Modificar"/>
      </form>
    </td>
    <td> 
      <form action="./?action=user_destroy">
        <input type="submit" id='btnSubmit' value="Eliminar"/>
      </form>
    </td>
    <td> 
      <form action="">
        <input type="submit" id='btnSubmit' value="Bloquear/Desbloquear"/>
      </form>
    </td>
  </tr>
  {% endfor %}
 </table>



{% endblock %}

