{% extends 'plantilla_base.html' %}
{% block body %}


<div id="modificacion-user" align="center">
  <h1> Actualizar Usuario </h1>
   <form action="./?action=user_updated" class="form-horizontal" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                        <fieldset>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                   Nombre:
                                      <input id="first_name" name="first_name" value={{ user.first_name }} type="text" class="form-control" required>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                  Apellido:
                                    <input id="last_name" name="last_name" value={{ user.last_name }} type="text" class="form-control" required>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                  E-mail:
                                    <input id="email" name="email" value={{ user.email }} type="text" class="form-control" required>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                  Usuario:
                                    <input id="username" name="username" value={{ user.username }} type="text" class="form-control" required>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                  Contrasea:
                                    <input id="password" name="password" value={{ user.password }} type="password" class="form-control" required>
                                </div>
                            </div>
                            <input type="hidden" name="id" id="id" value={{ user.id }}>
                            <br>

                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button type="submit"  id='btnSubmit'>Modificar usuario</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}