{% extends 'clinical_history_form_base.html' %}

{% block head %}
<script>
$(document).ready(function() {
  document.getElementById('vacunas_completas').value = "{{ clinicalHistory.vacunas_completas }}";
  document.getElementById('maduracion_acorde').value = "{{ clinicalHistory.maduracion_acorde }}";
  document.getElementById('examen_fisico').value = "{{ clinicalHistory.examen_fisico }}";
});
</script>
{% endblock %}

{%block action%} ./?action=clinical_history_updated {% endblock %}


{% block fecha %}
{{ clinicalHistory.fecha }}
{% endblock %}


{% block edad %}
{{ clinicalHistory.edad }}
{% endblock %}

{% block peso %}
{{ clinicalHistory.peso }}
{% endblock %}

{% block vacunas_obs %}
{{ clinicalHistory.vacunas_obs }}
{% endblock %}

{% block maduracion_obs %}
{{ clinicalHistory.maduracion_obs }}
{% endblock %}

{% block examenFisico_obs %}
{{ clinicalHistory.examenFisico_obs }}
{% endblock %}

{% block percentilo_cefalico %}
{{ clinicalHistory.percentilo_cefalico }}
{% endblock %}

{% block percentilo_perim_cefalico %}
{{ clinicalHistory.percentilo_perim_cefalico }}
{% endblock %}

{% block talla %}
{{ clinicalHistory.talla }}
{% endblock %}

{% block alimentacion %}
{{ clinicalHistory.alimentacion }}
{% endblock %}

{% block obs_generales %}
{{ clinicalHistory.obs_generales }}
{% endblock %}

{% block form %}
 <input type="hidden" name="id" id="id" value= "{{ clinicalHistory.id}}">
{% endblock %}