{% extends 'plantilla_base.html' %}

<head> Historia Clinica </head>

{% block body %}

<div class="container">
  <div class="table-responsive">
    <table class="table table-condensed">
      <td>
            <form action="./?action=clinical_history_form_update" method="post">
              <input type="submit" class="btn btn-primary" name="id" value="Modificar">
              <input type="hidden" name="id_paciente" id="id_paciente" value= "{{ item.id_paciente }}">
            </form>
      </td>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Edad</th>
          <th>Peso</th>
          <th>Vacunas Completas? </th>
          <th>Vacunas observaciones </th>
          <th>Maduración acorde?</th>
          <th>Maduración observaciones:</th>
          <th>Exámen físico normal?</th>
          <th>Exámen físico observaciones</th>
          <th>PC: percentilo cefálico: </th>
          <th>PPC: percentilo perímetro cefálico:</th>
          <th>Talla: </th>
          <th>Alimentación: </th>
          <th>Observaciones generales: </th>
          <th>Usuario</th>
        </tr>
      </thead>


      {% for item in historial %}
        <tr>
          <td>{{ item.fecha }}</td>
          <td>{{ item.edad }}</td>
          <td>{{ item.peso }}</td>
          <td>{{ item.vacunas_completas }}</td>
          <td>{{ item.vacunas_obs }}</td> 
          <td>{{ item.maduracion_acorde }}</td>
          <td>{{ item.maduracion_obs }}</td>
          <td>{{ item.examen_fisico }}</td>
          <td>{{ item.examenFisico_obs }}</td> 
          <td>{{ item.percentilo_cefalico }}</td>
          <td>{{ item.percentilo_perim_cefalico }}</td>
          <td>{{ item.talla }}</td>
          <td>{{ item.alimentacion }}</td>
          <td>{{ item.obs_generales }}</td>
          <td>{{ item.usuario }}</td>
          <td>
            <form action="./?action=clinical_history_destroy" method="post">
              <input type="submit" onclick='return confirm("¿Estás seguro?")' class="btn btn-primary" value="Eliminar" id="boton_borrar"/>
              <input type="hidden" name="id" id="id" value= "{{ item.id }}">
            </form>
          </td>
 
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
