{% extends 'clinical_history_form_base.html' %}


{%block action%} ./?action=clinical_history_added {% endblock %}

{% block fecha %}

{% endblock %}


{% block edad %}

{% endblock %}


{% block peso %}

{% endblock %}


{% block vacunas_obs %}

{% endblock %}


{% block maduracion_obs %}

{% endblock %}


{% block examenFisico_obs %}

{% endblock %}


{% block percentilo_cefalico %}

{% endblock %}


{% block percentilo_perim_cefalico %}

{% endblock %}


{% block talla %}

{% endblock %}


{% block alimentacion %}

{% endblock %}


{% block obs_generales %}

{% endblock %}