{% extends 'list_base.html' %}

{% block header %} Historia Clinica {% endblock %}

{% block new_action %} ./?action=clinical_history_form_new {% endblock %}
{% block new_action_label %} Agregar historia cl&iacute;nica {% endblock %}
{% block new_hidden %}  <input type="hidden" id="id_paciente" name="id_paciente" value=" {{ id_paciente }} "> {% endblock %}

{% block botones %}
<form method="POST" action ="./?action=weigth_growth_report">
  <button type= "submit" class="btn btn-primary">Curva de crecimiento</button>
  <input type="hidden" id="id_paciente" name="id_paciente" value=" {{ id_paciente }} ">
</form> &nbsp;
<form method="POST" action ="./?action=tall_growth_report">
  <button type= "submit" class="btn btn-primary">Curva de talla</button>
  <input type="hidden" id="id_paciente" name="id_paciente" value=" {{ id_paciente }} ">
</form> &nbsp;
<form method="POST" action ="./?action=ppc_growth_report">
  <button type= "submit" class="btn btn-primary">Curva de PPC</button>
  <input type="hidden" id="id_paciente" name="id_paciente" value=" {{ id_paciente }} ">
</form>
{% endblock %}

{% block inner_body %}
<div class =".container-fluid ">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Edad</th>
          <th>Peso</th>
          <th>Vacunas Completas? </th>
          <th>Vacunas observaciones </th>
          <th>Maduración acorde?</th>
          <th>Maduración observaciones:</th>
          <th>Exámen físico normal?</th>
          <th>Exámen físico observaciones</th>
          <th>PC: percentilo cefálico: </th>
          <th>PPC: percentilo perímetro cefálico:</th>
          <th>Talla: </th>
          <th>Alimentación: </th>
          <th>Observaciones generales: </th>
          <th>Usuario</th>
          <th>
        </tr>
      </thead>


      {% for item in historial %}
        <tr>
          <td>{{ item.fecha|date('d-m-Y') }}</td>
          <td>{{ item.edad }}</td>
          <td>{{ item.peso }}</td>

          {% if item.vacunas_completas == 1 %}
          <td> SI </td>
          {% else %}
          <td> NO </td>
          {% endif %}

          <td>{{ item.vacunas_obs }}</td>

           {% if item.maduracion_acorde == 1 %}
          <td> SI </td>
          {% else %}
          <td> NO </td>
          {% endif %}

          <td>{{ item.maduracion_obs }}</td>

           {% if item.examen_fisico == 1 %}
          <td> SI </td>
          {% else %}
          <td> NO </td>
          {% endif %}

          <td>{{ item.examenFisico_obs }}</td>
          <td>{{ item.percentilo_cefalico }}</td>
          <td>{{ item.percentilo_perim_cefalico }}</td>
          <td>{{ item.talla }}</td>
          <td>{{ item.alimentacion }}</td>
          <td>{{ item.obs_generales }}</td>
          <td>{{ item.usuario }}</td>
          <td>
          <form action="./?action=clinical_history_form_update" method="post">
            <input type="submit" class="btn btn-primary" value="Modificar">
            <input type="hidden" name="id" id="id" value= "{{ item.id }}">
          </form>
          </td>
          <td>
          <form action="./?action=clinical_history_destroy" method="post">
            <input type="submit" onclick='return confirm("¿Estás seguro?")' class="btn btn-primary" value="Eliminar">
             <input type="hidden" name="id" id="id" value= "{{ item.id }}">
          </form>
          </td>

        </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
