{% extends 'plantilla_base.html' %}

{% block head%}
<script type="text/javascript">
function validar(){

  nombre = document.getElementById('first_name').value;
  if (/[^a-zA-Z\s]/.test(nombre)) {
      alert('Solo puede ingresar letras en el campo "Nombre"');
      return false;
  }

  apellido = document.getElementById('last_name').value;
  if (/[^a-zA-Z\s]/.test(apellido)) {
      alert('Solo puede ingresar letras en el campo "Apellido"');
      return false;
  }

  telefono = document.getElementById('phone').value;
  if (/\D/.test(telefono)) {
      alert('Solo puede ingresar numeros en el campo "Telefono"');
      return false;
  }

  dni = document.getElementById('dni').value;
  if (/\D/.test(dni)) {
      alert('Solo puede ingresar numeros en el campo "DNI"');
      return false;
  }

}
</script>
{% endblock %}

{% block body %}
<div id="div-top" align="center">
<h1>{% block header %} {% endblock %} </h1>
<form action="{% block action %}{% endblock %}"  onsubmit='return validar()' name="alta_paciente" method='post'>
  <div class="container">
    <div class="row">
      <div align="left">
        <div class="well well-sm">
          <div class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  Nombre:
                  <input id="first_name" name="first_name" type="text" placeholder="Nombre"
                  value="{% block first_name_value %} {% endblock %}" class="form-control" required >
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  Apellido:
                    <input id="last_name" name="last_name" type="text" placeholder="Apellido"
                    value="{% block last_name_value %} {% endblock %}" class="form-control" required>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Fecha de Nacimiento:
                    <input id="fecha_de_nacimiento" name="birth_date" type="date"
                    value={% block birth_date_value %} {% endblock %} class="form-control" required>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                  Sexo:
                    <select id="gender" name="gender" required>
                      <option value="F">Femenino</option>
                      <option value="M">Masculino</option>
                    </select>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tipo de Documento:
                    <select id="doc_type" name="doc_type" required >
                      {% for item in documentTypes %}
                        <option value={{ item.getId }}>{{ item.getDescription }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  N&uacute;mero de Documento:
                    <input id="dni" name="dni" type="numeric" placeholder="Nro de Documento"
                    value="{% block dni_value %} {% endblock %}" class="form-control" required>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Domicilio:
                    <input id="address" name="address" type="text" placeholder="Direcci&oacute;n de Domicilio"
                    value="{% block address_value %} {% endblock %}" class="form-control" required>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tel&eacute;fono/Celular:
                    <input id="phone" name="phone" type="text" placeholder="Telefono/Celular"
                    value="{% block phone_value %} {% endblock %}" class="form-control" required>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Obra Social:
                    <select id="id_medical_insurance" name="id_medical_insurance">
                      {% for item in socialInsurances %}
                        <option value={{ item.getId }}>{{ item.getDescription }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tiene Heladera?:
                  <select id="has_refrigerator" name="has_refrigerator" required>
                    <option value="1">SI</option>
                    <option value="0">NO</option>
                  </select>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tiene Electricidad?:
                    <select id="has_electricity" name="has_electricity" required>
                      <option value="1">SI</option>
                      <option value="0">NO</option>
                    </select>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tiene Mascota(s)?:
                    <select id="has_pet" name="has_pet" required>
                      <option value="1">SI</option>
                      <option value="0">NO</option>
                    </select>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tipo de Vivienda:
                    <select id="home_type" name="home_type" required>
                      {% for item in homeTypes %}
                        <option value={{ item.getId }} > {{ item.getDescription }}</option>
                      {% endfor %}
                    </select>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tipo de Calefacci&oacute;n:
                    <select id="heating_type" name="heating_type" required>
                      {% for item in heatingTypes %}
                        <option value={{ item.getId }}>{{ item.getDescription }}</option>
                      {% endfor %}
                    </select>
                  </div>
              </div>
            </fieldset>
            <br>
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-left"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                  Tipo de Agua:
                    <select id="water_type" name="water_type" required>
                      {% for item in waterTypes %}
                        <option value={{ item.getId }}>{{ item.getDescription }}</option>
                      {% endfor %}
                    </select>
                </div>
              </div>
            </fieldset>
            {% block form %} {% endblock %}
            <div class="form-group">
              <div class="col-md-12 text-center">
                <input type="submit" class="btn btn-primary" id= "confirm_button" name="confirm_button" value="Confirmar" onclick = "return validarAltaPaciente(this)" >
                <input type="button" class="btn btn-danger" id= "cancel_button" name="cancel_button" onclick="return cancelar('pacients_index')"; value="Cancelar"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<br>
<br>
<br>
<br>


{% endblock %}