{% extends 'pacient_form_base.html' %}

{% block head %}
<script>
$(document).ready(function() {
  document.getElementById('gender').value = "{{ pacient.gender }}";
  document.getElementById('doc_type').value = "{{ pacient.doc_type.id }}";
  document.getElementById('id_medical_insurance').value = "{{ pacient.medical_insurance.id }}";
  document.getElementById('has_refrigerator').value = "{{ pacient.has_refrigerator }}";
  document.getElementById('has_electricity').value = "{{ pacient.has_electricity }}";
  document.getElementById('has_pet').value = "{{ pacient.has_pet }}";
  document.getElementById('home_type').value = "{{ pacient.home_type.id }}";
  document.getElementById('heating_type').value = "{{ pacient.heating_type.id }}";
  document.getElementById('water_type').value = "{{ pacient.water_type.id }}";
});
</script>
{% endblock %}

{% block header %}
Actualizar Paciente
{% endblock %}

{% block action %}
./?action=pacient_updated
{% endblock %}

{% block first_name_value %}
{{ pacient.first_name }}
{% endblock %}

{% block last_name_value %}
{{ pacient.last_name }}
{% endblock %}

{% block birth_date_value %}
{{ pacient.birth_date|date('Y-m-d') }}
{% endblock %}

{% block dni_value %}
{{ pacient.dni }}
{% endblock %}

{% block address_value %}
{{ pacient.address }}
{% endblock %}

{% block phone_value %}
{{ pacient.phone }}
{% endblock %}

{% block form %}
<input type="hidden" id='id' name='id' value={{ pacient.id }}>
{% endblock %}
